<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>睁眼看世界</title>
  <link href="/css/search/everything.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
</head>
<body>
  <div class="search">
    <div class="search_condition">
<!--      <h3 style="text-align:center">万物皆可查</h3>-->
      <form class="pure-form" action="/search/serarchEverything" id="serarchEverything">
        <fieldset>
          <legend>万物皆可查</legend>
          <label>关键词：</label>
          <input type="text" placeholder="陈奕迅" name="para">
          <button type="submit" class="pure-button pure-button-primary">查询</button>
        </fieldset>
      </form>

    </div>
    <br>
    <div class="search_result" >
      <table class="pure-table pure-table-horizontal table_col">
        <thead>
        <tr>
          <th width="15%" align="center">key</th>
          <th width="65%" align="center">value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="map:${map}">
          <td width="15%"><sapn  th:text="${map.key}" ></sapn></td>
          <td width="65%"><sapn  th:text="${map.value}" ></sapn></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>