<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangrui.shark.blog.mapper.BlogMapper" >


  <select id="saveBlog" parameterType="map" >
      insert into blog (
        `blog_id`,
        `blog_title`,
        `blog_author`,
        `blog_content`,
        `create_time`
      )
      values
        (
          #{id},
          #{blogTitle},
          #{blogAuthor},
          #{blogContent},
          #{createTime}
        )
    </select>
<select id="getBlogList" resultType="java.util.HashMap" >
        select  * from blog where delete_flag ='0' order by blog_heat desc
    </select>
  <select id="getBlogDetail" resultType="com.yangrui.shark.blog.data.BlogVO" >
        select  * from blog where blog_id=#{id}
    </select>
  <update id="deleteBlogById">
    update blog set delete_flag = '1' where  blog_id = #{id}
  </update>
  <update id="changeBlogHeatById">
    update  blog set blog_heat=blog_heat+1 where blog_id =#{id}
  </update>
  <update id="updateBlog">
   UPDATE `blog`
    SET `blog_title` = #{blogTitle},
    `blog_content` =  #{blogContent},
    `blog_author` = #{blogAuthor}
    WHERE
      `blog_id` = #{id}
  </update>
</mapper>