<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangrui.shark.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.yangrui.shark.data.BookDO">
    <id column="book_id" jdbcType="VARCHAR" property="id" />
    <result column="book_name" jdbcType="VARCHAR" property="name" />
    <result column="book_state" jdbcType="VARCHAR" property="state" />
    <result column="book_description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <select id="listBooks" resultMap="BaseResultMap">
        SELECT 
        *
         FROM book
    </select>

</mapper>